@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 51, 65, 85;
  --background-start-rgb: 241, 245, 249;
  --background-end-rgb: 248, 250, 252;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 51, 65, 85;
    --background-start-rgb: 241, 245, 249;
    --background-end-rgb: 248, 250, 252;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

/* Estilos personalizados */
@layer components {
  .dashboard-card {
    @apply bg-white p-6 rounded-lg shadow-md flex flex-col border border-gray-100;
  }
}
